name: Run Tests
on: push

jobs:
  pytest:
    name: pytest
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: gcc
      run: sudo apt install build-essential
    - name: Install
      uses: abatilo/actions-poetry@v1.0.0
      with:
        args: install
    - name: Run pytest
      uses: abatilo/actions-poetry@v1.0.0
      with:
        args: run python -m pytest tests/
